@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* main.css */

.bd{
	background: url('./assets/main.png') no-repeat center center fixed;
    background-size: cover;
	height: 100vh;
	
}
.body {
    /* font-family: Arial, sans-serif; */
    margin: auto;
    padding: auto; 
    color: #fff;
    text-align: center;
}
.textarea {
    resize: vertical;
	height: 250px;
}

.link {
    color: #fff;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

.link:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.tile {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
	margin-top: 100px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input, .textarea {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.8);
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.button:hover {
    background-color: #45a049;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    position: absolute;
    width: 100%;
    z-index: 100;
}
header h1 {
    font-size: 40px;
    color: white;
}
header nav {
    display: flex;
    gap: 30px;
}
header nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 99px;
    transition: 0.3s;
    color: white;
}
header nav a.active {
    background: #5247B9;
}
header nav a:hover {
    background: #5247B9;
}
header nav:hover > a:not(:hover) {
    background: none;
}

.home {
    display: flex;
    height: 100vh;
    background: linear-gradient(to top, #D2E2FB 30%, #86A8DB);
    position: relative;
    overflow: hidden;
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.home .tile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
h2{
	color:#6ea5d7;
}

.about {
    padding: 50px;
    background: #3B3291;
    color: white;
    position: relative;
    z-index: 100;
}
.about h1 {
    font-size: 40px;
}
